/* Additional styles for the Swiper component */

.swiper {
  flex-basis: auto;
  margin: auto; /* This will center the swiper if it's less than the full width of its container */
  justify-content: right;
  align-items: right; /* Center vertically */  
}

/* Styles for each Swiper slide */
.swiper-slide {
  display: flex; /* To help center the content inside the slide */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */  
  
}

/* Ensure the image or video fills the slide */
.swiper-slide img,
.swiper-slide video {
  width: auto;
  height: 100%;
  object-fit: cover; /* Changed to contain to ensure aspect ratio is maintained */
  border-radius: 15px; /* Add rounded corners */
  overflow: hidden; /* Ensures the content respects the border radius */
}

